<tr>
  <td><%= expense.date.strftime("%d %a") %></td>
  <td><%= expense.concept %></td>
  <td><%= expense.category.name %></td>
  <td><%= number_to_currency(expense.amount) %></td>
  <td><%= expense.transaction_type.name %></td>
  <td><%= link_to 'Edit', edit_expense_path(expense), class: 'btn btn-sm btn-info' %></td>
  <td><%= link_to "Remove", expense, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-sm btn-danger' %></td>
</tr>