<div id="exampleModalCenter" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold">New Expense</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: white;">&times;</span></button>
      </div>
      <div class="modal-body">      
        <%= form_for @expense, remote: true do |f| %>
          <div class="form-group">
            <%= f.label :transaction_type_id, "Transaction Type:" %>
            <%#= f.collection_select(:transaction_type_id, TransactionType.all, :id, :name, {}, class: " form-control") %>

            <%#= f.select(:transaction_type_id, options_for_select([['Purchase', TransactionType.find(1)], ['Withdrawal', TransactionType.find(2)], ['Transfer', TransactionType.find(3)], ['Payment', TransactionType.find(4)]]), { include_blank: true }, class: 'form-control' ) %>

            <%= f.select :transaction_type_id, options_from_collection_for_select(TransactionType.all, "id", "name", @expense.transaction_type_id), class: "form-control" %>

          </div>
          <div class="form-group">
            <%= f.label :date, "Date:" %>
            <%= f.date_field :date, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :concept, "Concept:" %>
            <%= f.text_field :concept, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :category_id, "Category:" %>
            <%#= f.collection_select(:category_id, Category.all, :id, :name, {}, class: " form-control") %>

            <%#= f.select(:category_id, options_for_select([['Restaurant', Category.find(1)], ['Grocery', Category.find(2)], ['Car', Category.find(3)], ['Services', Category.find(4)], ['Home', Category.find(5)], ['Education', Category.find(6)], ['Fun', Category.find(7)], ['Travel', Category.find(8)]]), { include_blank: true }, class: 'form-control' ) %>
            
            <%= f.select :category_id, options_from_collection_for_select(Category.all, "id", "name", @expense.category_id), class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :amount, "Amount:" %>
            <%= f.number_field :amount, class: 'form-control' %>
          </div>
          <div class="modal-footer">
            <%= f.submit "Create Expense", class: 'btn btn-info btn-block font-weight-bold', id: 'formbutton' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>